@use "colors";

@import "interactables";
@import "typography";

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M20 0L0 10v10l20-10zm0 10v10l20 10V20z'  stroke-width='1' stroke='none' fill='hsla(276, 10%, 1%, 1)'/><path d='M20-10V0l20 10V0zm0 30L0 30v10l20-10zm0 10v10l20 10V40z'  stroke-width='1' stroke='none' fill='hsla(282, 10%, 2%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  color: colors.$foregroundSecondary;
  height: 100%;

  body, app-root {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

    router-outlet + *{
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 64px;
      height: 100%;
      margin-block: 64px;
      margin-inline: 16px;
    }
  }
}

@media (min-width: 700px) {
  html {
    body, app-root {
      router-outlet + *{
        margin-block: 128px;
      }
    }
  }
}
