@use "../../../assets/styles/colors";
@use "../../../assets/styles/typography";

:host {
  width: -webkit-fill-available;

  a {
    align-items: start;
    background: colors.$background1;
    display: flex;
    gap: 16px;
    padding: 16px;
    text-transform: unset;

    &:hover {
      background: colors.$background2;
    }

    img {
      aspect-ratio: 1 / 1;
      height: 100%;
      width: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: space-between;
    }
  }
}
