@use "colors";
@use "typography";

a, button {
  &:hover {
    cursor: pointer;
  }
}

a {
  align-items: center;
  background: colors.$background2;
  display: flex;
  min-height: 48px;
  padding-inline: 16px;
  text-transform: uppercase;

  @extend .text-body;
  @extend .text-m;
}
