.text-display {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
}

.text-body {
  font-family: "Work Sans", sans-serif;
}

.text-s {
  font-size: 12px;
}

.text-m {
  font-size: 16px;
}

.text-l {
  font-size: 20px;
}
